

<div class="row">
  <div class="col-md-12">
    
    
 
 <h1 style ="color: blue;"> Mr. Blue </h1> 
   
I always got lost in your endless blue eyes, <br>
You even manage to light up my dreamless gloomy nights. <br>
Whenever I get locked in your eyes, <br>
I end up lost in the ocean, far too deep. <br>
The amount of times I saw your image <br>
made my hearts music skip a beat<br>
You're the first I see<br>
Bright morning out of bed <br>
And the last hour before I sleep<br>
Dont think for a second <br>
That I forgot about all the times you weeped<br>
Your life was never easy, <br>
Facing hardships through and through<br>
Yet you overcame, spread your wings and you flew.<br>
You've always been crazy <br>
But its okay tho, cause tbh im just as lazy <br>
I make it  obvious that you're special, but you never get the clue<br>
I'll explain it again in person,
but until then<br>
Hold onto Mr Blue<br>

~Your Monkey
<br>
<br>
ps: An Apology
<br>
I'm sorry I wasn't able to come visit you. I did try very hard to do something special for you; but everything I <br>
thought of just didn't feel like enough. Everytime I thought of something I kept convincing myself you deserve just a little better <br>
So I finally decided to think out of the box and do something different than what those 'normal' human beans do. I stayed up countless nights without 
<br>sleep so this silly thing could be coded, debugged, and deployed in time for your special day. So I really hope <br>
it made you smile. I wasn't able to come surprise you for your birthday but that doesn't mean I wasn't working <br>
hard to make your day a bit better. Enjoy =)
  </div>
</div>
